<section-header>
  <ul class="breadcrumb">
      <li class="breadcrumb-item"><a>Dashboard</a></li>
  </ul>
  <h1>Club Micro</h1>
</section-header>

<ng-container *ngIf="clubData$ | async as clubData">
 
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
        <content-two-col>
            <ng-container main>
              <sessions-list [sessions]="clubData.sessions"></sessions-list>
              <albums-top-rated title="Top Rated Albums" [layout]="'list'" [items]="clubData.albumsOfWeek"></albums-top-rated> 
              <albums-of-week-list [items]="clubData.albumsOfWeek | slice :0:1"></albums-of-week-list>
            </ng-container>
            <ng-container sidebar>
                <col-spacer [gap]="'25px'">
                    <aside-block>
                       Rules
                    </aside-block>
                   
                </col-spacer>
               
               
               
            </ng-container>
        </content-two-col>
       
      </div>

  
</ng-container>

