<ng-container *ngIf="tracklist; else noContent">
  <div class="table" fxLayout="column" >
    <div class="table__header" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
      <div class="table__col" fxFlex="20px">#</div>
      <div class="table__col" fxFlex>Title</div>
      <div class="table__col" fxFlex>Length</div>
    </div>
    <div class="table__row" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px" *ngFor="let track of tracklist; let i = index">
      <div class="table__col" fxFlex="20px">{{track?.trackNumber}}</div>
      <div class="table__col" fxFlex>{{track?.trackName}}</div>
      <div class="table__col" fxFlex>{{track?.trackTimeMillis | date: 'mm:ss'}} </div>
    </div>
  </div>
</ng-container>


<ng-template #noContent>
  <no-content>Sorry no tracklist available.</no-content>
</ng-template>
