@import 'colours';


.table__header{
    border-bottom:2px solid $light-grey;
    margin-bottom:15px;
    padding-bottom:5px;
}

.table__row{
    border-bottom:1px solid $light-grey;
    background:#fff;
    
}

.table__col{
    padding:10px 0px 5px 0px;
}

.table__header .table__col{
    padding:0px 0px 5px 0px
}
